<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        nav {
            background-color: #333;
            padding: 10px;
        }
        nav a {
            color: white;
            text-decoration: none;
            margin-right: 15px;
        }
    </style>
</head>
<body>
    <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/posts}">My Posts</a>
        <a th:href="@{/posts/create}">Create Post</a>
        <a th:href="@{/profile}">Profile</a>
        <a th:href="@{/logout}">Logout</a>
    </nav>
</body>
</html>
